In [279]:
import numpy as np
import pandas as pd

In [280]:
# The goal of this project is to predict the date in which Canada will reach 
# herd immunity (56%-89%)

In [281]:
df = pd.read_csv('vaccine_doses_new.csv')
df.head()

,report_date,previous_day_doses_administered,total_doses_administered,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated
0,2021-01-06,"10,350","60,380",860,430
1,2021-01-07,"12,251","72,631","2,173","1,087"
2,2021-01-08,"14,932","87,563","4,053","2,027"
3,2021-01-09,"15,700","103,263","5,880","2,940"
4,2021-01-10,"9,983","113,246","5,884","2,942"

In [282]:
df.describe()

,report_date,previous_day_doses_administered,total_doses_administered,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated
count,78,78,78,78,78
unique,78,78,78,77,77
top,2021-03-20,"2,715","687,271","5,884","2,942"
freq,1,1,1,2,2

In [283]:
df.info

<bound method DataFrame.info of    report_date previous_day_doses_administered total_doses_administered  \
0   2021-01-06                          10,350                   60,380
1   2021-01-07                          12,251                   72,631
2   2021-01-08                          14,932                   87,563
3   2021-01-09                          15,700                  103,263
4   2021-01-10                           9,983                  113,246
..         ...                             ...                      ...
73  2021-03-20                          60,283                1,480,882
74  2021-03-21                          40,823                1,521,705
75  2021-03-22                          31,335                1,553,040
76  2021-03-23                          50,659                1,603,699
77  2021-03-24                          72,451                1,676,150

   total_doses_in_fully_vaccinated_individuals   \
0                                           860
1                                         2,173
2                                         4,053
3                                         5,880
4                                         5,884
..                                          ...
73                                      594,267
74                                      597,098
75                                      598,594
76                                      602,086
77                                      605,328

   total_individuals_fully_vaccinated
0                                 430
1                               1,087
2                               2,027
3                               2,940
4                               2,942
..                                ...
73                            297,134
74                            298,549
75                            299,297
76                            301,043
77                            302,664

[78 rows x 5 columns]>

In [284]:
df.columns

Index(['report_date', 'previous_day_doses_administered',
       'total_doses_administered',
       'total_doses_in_fully_vaccinated_individuals ',
       'total_individuals_fully_vaccinated'],
      dtype='object')

In [285]:
df.dtypes

report_date                                     object
previous_day_doses_administered                 object
total_doses_administered                        object
total_doses_in_fully_vaccinated_individuals     object
total_individuals_fully_vaccinated              object
dtype: object

In [286]:
# Check for missing values
total_nan = df.isnull().sum().sort_values(ascending=False)
total_nan

total_individuals_fully_vaccinated              0
total_doses_in_fully_vaccinated_individuals     0
total_doses_administered                        0
previous_day_doses_administered                 0
report_date                                     0
dtype: int64

In [287]:
total_count = df.isnull().count()
total_count

report_date                                     78
previous_day_doses_administered                 78
total_doses_administered                        78
total_doses_in_fully_vaccinated_individuals     78
total_individuals_fully_vaccinated              78
dtype: int64

In [288]:
# Noticed an extra space after 'total_doses_in_fully_vaccinated_individuals ', will change
df = df.rename(columns={'total_doses_in_fully_vaccinated_individuals ': 'total_doses_in_fully_vaccinated_individuals'})

In [290]:
df.dtypes

report_date                                    object
previous_day_doses_administered                object
total_doses_administered                       object
total_doses_in_fully_vaccinated_individuals    object
total_individuals_fully_vaccinated             object
dtype: object