In [83]:
import numpy as np
import pandas as pd

In [84]:
df = pd.read_csv('vaccine_doses.csv')
df.head()

,report_date,previous_day_doses_administered,total_doses_administered,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated
0,2020-12-24,NaN,"10,756",NaN,NaN
1,2020-12-30,"4,595","18,603",NaN,NaN
2,2020-12-31,"5,463","23,502",NaN,NaN
3,2021-01-01,"5,415","28,887",NaN,NaN
4,2021-01-02,"4,305","33,191",NaN,NaN

In [85]:
df.describe()

,report_date,previous_day_doses_administered,total_doses_administered,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated
count,50,49,50,42,42
unique,50,49,50,41,41
top,2021-01-13,"11,910","412,119","5,884","2,942"
freq,1,1,1,2,2

In [86]:
df.columns

Index(['report_date', 'previous_day_doses_administered',
       'total_doses_administered',
       'total_doses_in_fully_vaccinated_individuals ',
       'total_individuals_fully_vaccinated'],
      dtype='object')

In [87]:
df.dtypes

report_date                                     object
previous_day_doses_administered                 object
total_doses_administered                        object
total_doses_in_fully_vaccinated_individuals     object
total_individuals_fully_vaccinated              object
dtype: object

In [88]:
# Convert report_date to numeric values
# replace(x, y) replaces every instance of x into y
date_mod = df['report_date'].apply(lambda x: x.replace('-',''))
df['report_date'] = date_mod
df.head()

,report_date,previous_day_doses_administered,total_doses_administered,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated
0,20201224,NaN,"10,756",NaN,NaN
1,20201230,"4,595","18,603",NaN,NaN
2,20201231,"5,463","23,502",NaN,NaN
3,20210101,"5,415","28,887",NaN,NaN
4,20210102,"4,305","33,191",NaN,NaN

In [89]:
# convert all NaN values into 0 to work with data numerically
df['previous_day_doses_administered'] = df['previous_day_doses_administered'].fillna(0)
df['total_doses_administered'] = df['total_doses_administered'].fillna(0)
# df['total_doses_in_fully_vaccinated_individuals'] = df['total_doses_in_fully_vaccinated_individuals'].fillna(0)
df['total_individuals_fully_vaccinated'] = df['total_individuals_fully_vaccinated'].fillna(0)

total_vac_mod = pd.to_numeric(df['total_individuals_fully_vaccinated'], errors='coerce')
df['total_individuals_fully_vaccinated'] = total_vac_mod
report_date_mod = pd.to_numeric(df['report_date'], errors='coerce')
df['report_date'] = report_date_mod
df['report_date'].dtypes

dtype('int64')

In [90]:
# We want to create a column that calculates the percentage of population vaccinated
ont_pop = 14745040
per_pop_vaccinated = df['total_individuals_fully_vaccinated'].apply(lambda x: (x/ont_pop) * 100)
df['per_pop_vaccinated'] = per_pop_vaccinated
df.columns

Index(['report_date', 'previous_day_doses_administered',
       'total_doses_administered',
       'total_doses_in_fully_vaccinated_individuals ',
       'total_individuals_fully_vaccinated', 'per_pop_vaccinated'],
      dtype='object')

In [91]:
# Noticed an extra space after 'total_doses_in_fully_vaccinated_individuals ', will change
df = df.rename(columns={'total_doses_in_fully_vaccinated_individuals ': 'total_doses_in_fully_vaccinated_individuals'})

In [92]:
# Model Building
# We will use a logistic regression model as we have one x variable (date) and one perdictor variable (per_pop_vaccinated)

from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split

# X is the training set, will be dropping the predictor variable
# also dropping other columns not needed to predict per_pop_vaccinated 
X = df.drop(['per_pop_vaccinated', 'previous_day_doses_administered', 'total_doses_administered', 'total_doses_in_fully_vaccinated_individuals', 'total_individuals_fully_vaccinated'], axis=1)

# Y is the test set, will only include data for predictor variable
Y = df['per_pop_vaccinated']

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=2)

# noticed continuous type of data which was not allowed in regression
from sklearn import preprocessing
from sklearn import utils

# lab_enc = preprocessing.LabelEncoder()
# encoded = lab_enc.fit_transform(X)

# print(utils.multiclass.type_of_target(X_train))
# print(utils.multiclass.type_of_target(y_train))
# print(utils.multiclass.type_of_target(y_train.astype('int')))
# print(utils.multiclass.type_of_target(encoded))

# clf = LogisticRegression()
# clf.fit(X_train, y_train)

In [93]:
# pred = regr.predict(X_test)

In [94]:
# pred

In [95]:
# Check accuracy of learning model using score()
# regr.score(X_test, y_test)

In [96]:
# Youtube Vid Links for Help
# https://www.youtube.com/watch?v=H_od47aWu-s&ab_channel=Intellipaat
# https://www.youtube.com/watch?v=Cx8Xie5042M&t=1480s&ab_channel=edureka%21